@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
  background: rgb(195,26,100);
  background: linear-gradient(90deg, rgba(195,26,100,1) 0%, rgba(99,1,199,1) 48%, rgba(148,187,233,1) 100%);
  z-index: 2;
  height: auto;
}

main {
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 1;
    margin: 0 auto;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    max-width: 320px;
    z-index: 0;
    
  }
  
  .title {
    color: #eee;
    font-size: 26px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: #eee;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
    -webkit-transition: transform 200ms;
    -moz-transition: transform 200ms;
    -ms-transition: transform 200ms;
    -o-transition: transform 200ms;
}
  
  .cut-short {
    width: 90px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }
  

  .cardflex{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    gap: 20px;
    box-sizing: border-box;
    z-index: 0;
  }

  .cardNew{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    width: 30vw;
    height: 90vh;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .img_card{
    width: 30vw;
    height: 45vh;
    border-radius: 10px  10px 0 0;
    -webkit-border-radius: 10px  10px 0 0;
    -moz-border-radius: 10px  10px 0 0;
    -ms-border-radius: 10px  10px 0 0;
    -o-border-radius: 10px  10px 0 0;
}
    
  .titulo{
    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .texto{
    font-size: 20px;
  }

  @media (max-width:570px) {

    main{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
    
  .cardflex{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    height: auto;
  }

 .cardNew{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  box-sizing: border-box !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
   width: 80vw;
   height: 80vh;
  } 

 .img_card{
   width: 80vw;
   height: 35vh;
   border-radius: 10px  10px 0 0;
   -webkit-border-radius: 10px  10px 0 0;
   -moz-border-radius: 10px  10px 0 0;
   -ms-border-radius: 10px  10px 0 0;
   -o-border-radius: 10px  10px 0 0;
  }

} 

@media (min-width: 571px) and  (max-width:1280px) {
  
  .main{
    display: flex;
    align-items: center;
    justify-content:center;
    z-index: 1;
    margin: 0 auto;
  }
  

  .cardflex{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
    /* overflow-x: scroll; */
    gap: 20px;
    box-sizing: border-box;
    z-index: 0;
  }

  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  ::-webkit-scrollbar {
      width: 6px;
      background: #95a825;
  }
  ::-webkit-scrollbar-thumb {
      background: hsl(103, 73%, 44%);
  }

  main{
    gap: 30px;
  }

  
  .cardNew{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    width: 58vw;
    height: 90vh;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    box-sizing: border-box !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .img_card{
    width: 58vw;
    height: 45vh;
    border-radius: 10px  10px 0 0;
    -webkit-border-radius: 10px  10px 0 0;
    -moz-border-radius: 10px  10px 0 0;
    -ms-border-radius: 10px  10px 0 0;
    -o-border-radius: 10px  10px 0 0;
  }
    
  .titulo{
    color: white;
  }

  .texto{
    font-size: 20px;
  }

  
}
